<div>
    <h3><strong>External Accounts Test Application</strong></h3>
    <div class="row top-actions-links">
        <div class="col-md-12">
            <button type="button" class="btn btn-small pull-left" ng-click="$ctrl.back()"><< Go Back</button>
            <button type="button" class="btn btn-small pull-right" ng-click="$ctrl.dismiss()">X Dismiss</button>
        </div>
    </div>

    <uib-tabset>
        <uib-tab index="0" heading="External Account Providers">
            <providers></providers>
        </uib-tab>
        <uib-tab index="1" heading="External Accounts">
            <accounts></accounts>
        </uib-tab>
    </uib-tabset>
</div>
